.formBorder{
    background-color: white;
    border-radius: 0.5rem;
}
.titleTopup{
    font-size: 1.2rem;
    font-weight: 700;
}
.inputTopup{
    font-size: 1.2rem;
    border: none;
    text-align: center;
}
.buttonTopup{
    width: 10rem;
    background-color: #7E98DF;
    border-radius: 0.3rem;
}